:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: rgb(199, 214, 228);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}


.profile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid black;
border-radius: 20px;
margin-top: 16px;
}
.profile-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img{
width: 350px;
border: 1px solid black;
border-radius: 50%;
background-color: rgb(58, 58, 56);
margin-top: 16px;
padding-top: 15px;
}
.profile-direction{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
.profile-name{
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.profile-text{
  color: #514f4f;
  margin-top: 0;
}
.profile-list{
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.profile-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-trascription{
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}



.friends-list{
display: flex;
justify-content: space-between;
gap: 10px;
/* list-style: none; */
border: 1px solid black;
border-radius: 20px;
padding: 25px;
}

.friends-item{
border: 1px solid black;
border-radius: 20px;
padding-top: 16px;
width: 150px;
display: flex;
justify-content: center;
}
.friend-paragraph{
  margin-top: 0px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
